#menuPane{
    -fx-background-image: url("/images/fokepernyo.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

#helpPane{
    -fx-background-image: url("/images/helpPane.png");
    -fx-background-repeat: no-repeat;   
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

#tablePane{
    -fx-background-image: url("/images/tablePane.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

#catPane{
    -fx-background-image: url("/images/macska.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

#getRakePane{
    -fx-background-image: url("/images/gereblye_kap.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

#rakePane{
    -fx-background-image: url("/images/gereblye.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}
#getCatPane{
    -fx-background-image: url("/images/macska_kap.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}


#settingsPane{
    -fx-background-image: url("/images/beallitasok.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

#scorePane{
    -fx-background-image: url("/images/score.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 100% 100%;
    -fx-background-position: center center;
}

#hbPlayer {
    -fx-padding: 15;
    -fx-spacing: 10;
}
